
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.pytest_cache/


venv/
.venv/
env/
.env


db.sqlite3
*.sqlite3


media/
backend/protected_media/
staticfiles/


frontend/config.js
node_modules/

.DS_Store
Thumbs.db